:root { 
	--primary: #007acc; 
    --sub-prime: #003d66; 
    --solidLine: #000;
    --box-Background: rgb(255, 255, 255);
    --arrow: rgb(218, 165, 32);
    --cream: rgb(218, 218, 218);
}

body {
    overflow-x: hidden;
}

.noUserSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.button-good {
  appearance: none;
  background-color: var(--primary);
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-good:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-good:hover {
  background-color: var(--sub-prime);
}

.button-good:active {
  background-color: var(--sub-prime);
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.list{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      border-radius: 10px;
      margin: 20px;
      padding: 10px;
      border: 1px solid var(--solidLine);
      height: auto;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.39);
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.39);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.39);
}

.displayColumn{
  flex-direction: column;
}

